{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="flash-message-container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    <main class="container-fluid py-5 text-center">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </main>
{% endblock %}
